<form [formGroup]="form" (ngSubmit)="savePost(form.value)">
    <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput type="text" placeholder="test" formControlName="title">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <input matInput type="text" placeholder="description" formControlName="description">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Content</mat-label>
        <textarea matInput formControlName="content"></textarea>
    </mat-form-field>
    <button mat-raised-button type="submit">Save Post</button>
</form>